streamlit
torch
transformers
safetensors
langchain
langchain-community
langchain-core
langchain-groq
huggingface-hub
faiss-cpu
sentence-transformers
pandas
numpy
scikit-learn
beautifulsoup4
requests
Pillow
python-dotenv
Flask
