streamlit
torch
transformers
safetensors
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.7
langchain-groq
langchain-text-splitters==0.3.2
huggingface-hub
faiss-cpu
sentence-transformers
pandas
numpy
scikit-learn
beautifulsoup4
requests
Pillow
python-dotenv
Flask
